/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* common style for hyperlinks on pages */
.hyperlink {
  @apply text-blueLink hover:underline hover:underline-offset-2;
}
